<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-4 sticky-sm-top">
  <div class="container-fluid">
    <%= link_to "Movie Menu", movies_path, class: "btn btn-secondary ms-5 navbar-brand border-radius" %>
    <%= link_to "List Menu", lists_path, class: "btn btn-success mx-3" %>
  </div>
</nav>
